package day{{ .Day}}

import (
	"testing"

	"github.com/stretchr/testify/assert"
)

func TestDay{{ .Day}}(t *testing.T) {
	tests := map[string]struct {
		input    string
		part2    bool
		expected int
	}{
		"part 1": {input: "", part2: false, expected: 2},
		"part 2": {input: "", part2: true, expected: 4},
	}

	for name, tc := range tests {
		t.Run(name, func(t *testing.T) {
			assert.Equal(t, tc.expected, Day{{ .Day}}(tc.input, tc.part2))
		})
	}
}
